*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    margin: 0;
}

h1{
    font-size: 65px;
}
h2{
    font-size: 45px;
}
p{
    text-align: justify;
    font-size: 25px;
    
}
.color-salman{
    color: black;
}
.flexible-container{
    display: flex;
    align-items: center;
}
.first-section{
    background-image: linear-gradient(salmon , rgb(187, 52, 52));
    color: white;
    padding-bottom:50px ;
    height: 600px;
}
.half-div{
    width: 50%;
    padding-left: 30px;
}
.half-div h1, h2, p{
    margin: 20px 0px;
}
.half-div img{
    width: 80%;
    padding-left: 50px;
}
.padding-right-p{
    padding-right: 30px;
    padding-bottom: 30px;
}
.link-btn{
    text-decoration: none;
    font-weight: 700;
    color: red;
    background-image: linear-gradient(white, rgb(221, 214, 214));
    padding: 10px 30px;
    margin: 20px;
    border-radius: 5px;
    font-size: 25px;
}
.nav-bar{
    background-color: salmon;
    padding: 50px;
}
.nav-bar ul{
    list-style-type: none;
    
    
}
.nav-bar ul li{
    display: inline-block;
}
.nav-bar ul li a{
    text-decoration: none;
    font-weight: 400;
    font-size: 30px;
    color: white;
    padding: 10px 30px;
    border-right: 2px solid white;
    /* background-color: white; */
}
#Search-div{
    padding-left: 600px;
}
#Search-div input{
    padding: 10px 20px;
    border-radius: 7px;
    border: 0px solid red
}
#dream-img-div{
    width: 70%;
    padding: 0;
    box-shadow: 3px 6px 23px 15px salmon;
    margin: 70px;
}
.dream-section{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.dream-item{
    color: gray;
    text-shadow: 4px 5px 11px #b9b9b9;
}
.experiance-section {
    /* align-items: flex-start; */
}
.one-third{
    text-shadow: 4px 5px 11px #b9b9b9;
    width: 25%;
    padding: 20px;
    margin: 40px;
    height: 300px;
    box-shadow: 3px 15px 33px 7px black;
}